<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="AltnetSample.Messages" Endpoint="altnetsample.orderservice@localhost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>